*.o
*.lo
*.in
*.la
config.*
COPYING
INSTALL
ltmain.sh
libtool
Makefile
.deps
.libs
aclocal.m4
missing
*stamp*
autom4te.*
compile
configure
depcomp
install-sh
docs/reference/*.txt
docs/reference/*.args
docs/reference/*.hierarchy
docs/reference/*.interfaces
docs/reference/*.prerequisites
docs/reference/*.signals
docs/reference/*-scan.c
*.gir
*.typelib
